<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModbusMasterFramework.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ModbusMasterFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <configProtectedData >
    <providers>
      <clear />
      <add
           name="TripleDESProtectedConfigurationProvider"
type="CustomProviderLibrary.TripleDESProtectedConfigurationProvider,TripleDESProtectedConfigurationProvider, Version=0.0.0.0, Culture=neutral, PublicKeyToken=18c4bbf052749e72, processorArchitecture=MSIL"
          />
    </providers>
  </configProtectedData >
    <userSettings>
        <ModbusMasterFramework.Properties.Settings1>
            <setting name="TrialTime" serializeAs="String">
                <value />
            </setting>
            <setting name="Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProductKey" serializeAs="String">
                <value>LA66F-9VRH5-GBP09-HYDJ7-ZKT9C-KJF7A</value>
            </setting>
            <setting name="Activated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MacAddress" serializeAs="String">
                <value />
            </setting>
        </ModbusMasterFramework.Properties.Settings1>
    </userSettings>
</configuration>